blue1 = #446CB3

#upper-menu-container
	background blue1
	width 100%
	position fixed
	top 0
	left 0
	z-index 1000
	height 55px

	li a
		color white
		font-size 18px
		font-weight normal
		border-right 1px solid rgba(0, 0, 0, 0.1)
		box-shadow 1px 0 0 rgba(255, 255, 255, 0.11)

.post
	padding-bottom 1em;
	
	h3
		font-weight bold
		

	p
	text-align left